.wrapper{
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.Header{
  mix-blend-mode: default;
  color: white;
  padding: 10px;
  width: 20%;
  text-align: center;
  height: 120px;
  border: 1px;
}

.searchForm{
  display: flex;
  background-color: white;
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  width: 600px;
}

.books-container{
  margin: 5px auto;
  display: flex;
  flex-direction:row ;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.default-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 200px;
  background-color: gray;
}

.logout-button {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 120px; 
  height: 40px;
}

.default-img {
  margin-top: 10px;
}

.custom-card {
  width: 300px; 
  height: auto; 
}

.card-description {
  height: 100px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.button-container button {
  padding: 4px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
  transition: all 0.3s ease;
  background-color: rgb(194, 194, 194);
}

.button-container button:hover {
  background-color:rgb(136, 136, 136)
}

.new-book-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  position: relative; 
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.close-icon:hover {
  color: red;
}


.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.form-group input[type="submit"]:hover {
  background-color: #0056b3;
}
