<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center;">
            <h4>{{{name}}}, ласкаво просимо до нашої платформи!</h4>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">


            <p style="margin: 17px 0 0;">
                <font size="+1">Вам необхідно підтвердити електрону адресу. Натисніть кнопку для підтвердження.</font>
            </p>
        </td>
    </tr>

    <br>
 
    <tr>
        <td style="text-align: center;">

            <a href={{{confirmAccountURL}}}> 
                <button style="background-color:#197185; color:#ffffff; border-radius:10px">Підтвердити пошту</button>
            </a>
            
        </td>
    </tr>

    <br>
    <br>
    <br>