<table style="width: 100%; padding: 10px 35px; background-color: #D1FCE5; box-sizing: border-box">
    <tr>
        <td style="font-size: 14px; vertical-align: bottom; text-align: center;">
            Hryvero Library corp - Copyright © 2023
        </td>
    </tr>
    <tr>
        <td style="font-size: 10px;  vertical-align: bottom; text-align: center;"></td>
    </tr>
</table>