<table style="width: 100%; padding: 4px 35px; background-color: #2CC073; box-sizing: border-box">
    <tr>
        <td style="font-size: 20px; text-align: left;">
              <img style="width: 50px; height: 50px; margin: 0"
                 src="https://i0.wp.com/www.pilgrimafrica.org/wp-content/uploads/2020/12/kisspng-vector-graphics-book-stock-illustration-logo-research-vector-book-transparent-amp-png-clipart-5cce8c440022e9.3914588515570401960006.png?ssl=1"
                 alt="Logo">
        </td>
        <td style="text-align: right;">
            <img style="width: 55px; height: 55px; margin: 0"
                 src="https://cdn-icons-png.flaticon.com/512/1946/1946429.png"
                 alt="icon">
        </td>
    </tr>
</table>